
/* ==============================================================
   --typography
   ============================================================== */

body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

p {
    margin-bottom: 1.5em;
}
a {
    color: royalblue;
}


/**
 * --forms
 */

button,
input,
select,
textarea {
    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}



/**
 * --icons
 */
