/* ==============================================================
 *
 * Typography
 *
 * ============================================================== */


/* ------------------------------------------
 * --vars
 * ------------------------------------------ */

$text-color: #404040;
$link-color: #666;
$font-size: 16px;
$line-height: 1.4;


@mixin type-main{
    font-family: 'Helvetica', 'Arial', sans-serif;
}
@mixin type-secondary{
    font-family: 'Helvetica', 'Arial', sans-serif;
}




/* ------------------------------------------
 * --base
 * ------------------------------------------ */

body,
button,
input,
select,
textarea {
    @include type-main;
    color: $text-color;
    font-size: $font-size;
    line-height: $line-height;
}




/* --------------------------------------------
 * --headers
 * -------------------------------------------- */




/* --------------------------------------------
 * --basic
 * -------------------------------------------- */

p + p{
    margin-top: 1em;
}
a {
    color: $link-color;
}

/* --------------------------------------------
 * --forms
 * -------------------------------------------- */

button,
input,
select,
textarea {
    font-size: 100%; /* Corrects font size not being inherited in all browsers */
    margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}



/* ------------------------------------------
 * --icons
 * ------------------------------------------ */

