/* ==============================================================
 *
 * Navigation
 *
 * ============================================================== */




/* --------------------------------------------
 * --main nav
 * -------------------------------------------- */
.main-navigation ul li {
    display: inline-block;
    position: relative;

    a{
        display: block;
        text-decoration: none;
    }

    &.current_page_item a,
    &.current-menu-item a{}
}
/* Small menu */
.menu-toggle {
    display: none;
}
